{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    this is cart page.proceed to review your items and place the order
{% endblock %}
{% block title %}
   cart organi company pvt lmt
{% endblock %}
 {% block content %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">your shopping cart is empty</h1>
        <p class="text-center">Please Click<a href="{% url 'shop:allProCat' %}">HERE</a>to continue shopping</p>
    </div>
</div>
{% else %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">your shopping cart </h1>
        <br>
    </div>
    <div class="row mx-auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text center">
            <table class="table my_custom_table">
                <thead class="my_custom_thead">
                <tr>
                    <th colspan="5">
                        Your Items
                    </th>

                </tr>
                </thead>
                <tbody>
                {% for cart_item in cart_items %}
                <tr>
                    <td>
                        <a href=" cart_item.product.get_absolute_url "><img src="{{cart_item.product.image.url}}" alt="" height="100rem" width="100rem" class="float-left rounded custom_image"></a>
                    </td>
                    <td class="text-left">
                        {{cart_item.product_name}}
                        <br>
                        vgs:{{cart_item.product_id}}
                        <br>
                        price:${{cart_item.product.price}}
                        <br>
                        qty:{{cart_item.quantity}} x ${{cart_item.product.price}}
                    </td>
                    <td>
                        ${{cart_item.sub_total}}
                    </td>
                    {% if cart_item.quantity > cart_item.product.stock %}
                    <td>
                         <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a">  <i class="fa fa-plus custom_icon">  </i></a>
                        &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}"class="custom_a">  <i class="fa fa-minus custom_icon"></i></a>
                        &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}"class="custom_icon">  <i class="fa fa-trash custom_icon"></i></a>
                    </td>
                    {% else %}
                     <td>
                         &nbsp;<a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a"> <i class="fa fa-plus custom_icon"></i></a>
                        &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"> <i class="fa fa-minus custom_icon"></i></a>
                        &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon"> <i class="fa fa-trash custom_icon"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th colspan="5">
                    check out
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    please your shopping are items before proceeding with the order payment.

                </td>
            </tr>
            <tr>
                <td class="text-left">
                    your total amount is <strong>{{ total }}</strong>

                </td>
            </tr>

            </tbody>
        </table>
        <div class="mx-auto">
            <a href="" class="btn btn-success btn-block my_custom_button">payment now</a>
            <a href="{% url 'shop:allProCat' %}" class="btn btn-secondary btn-block my_custom_button">continue shopping</a>
        </div>

    {% endif %}

  </div>

 </div>
</div>



{% endblock %}
