{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.Description|truncatewords:155 }}
    {% else %}
        welcome to organi store where you can buy natural product..
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }}--organi store
    {% else %}
        see our new collection--organi store
    {% endif %}
{% endblock %}
 {% block content %}

 {% if category %}
  <div>
      <div class="row my_row">
            <div class="mx_auto">
                <p><a href="{% url 'shop:allProCat' %}" >all product of collections</a></p>
            </div>
      </div>
  </div>
 {% endif %}
{% if category %}
    <div class="mx_auto">
         <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" width="100%">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
    </div>
{% else %}
    <div>
        <img class="my_image my_image_padding "  src="{% static 'img/banner.png'%}" alt="our product" >
    </div>
   <br>
<div>
        <h1 class="text-center my-title">
        our product collection
        </h1>
        <p class="text-center">Science and Technology: Nature and scope of Science and Technology, Relevance of S&T,
National policy on S&T and innovations, Basics of everyday science, Human body, Public
Health and Community Medicine, Food and Nutrition, Health Care. Institutes and
Organization in India promoting integration of S&T and Innovation, their activities and
contributions, Contribution of Prominent Indian Scientists</p>
</div>
{% endif %}
    <div class="container">
        <div class="row mx_auto">
         {% for product in product.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12  col-md-4 col-lg-4">
                <div class="card text-center" style="min-width:18rem; height:25rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top  my_image" src="{{product.image.url}}" alt="{{product.name}}" width="250rem" height="250rem" ></a>
                        <div class="card-body">
                          <h4>{{product.name}}</h4>
                          <p>{{product.price}}</p>
                        </div>
                </div>
            </div>
         {% endfor %}
            <div>
                <div class="mx-auto">
                    {% if product.paginator.num_pages > 1 %}
                    <hr>
                    <div class="text-center">
                        {% for pg in product.paginator.page_range %}
                        <a href="?page={{pg}}" class="btn btn-light btn-sm {% if product.number == pg %} active{% endif %}">{{pg}}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            <br>
            </div>
        </div>
    </div>
{% endblock %}


